/* fonte */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* corpo do codigo */
body {
  min-height: 100vh;
  min-width: 100vw;
  background: #ffffff;
  position: relative;
}

body::before {
  content: '';
  /* content é usada com os pseudoelementos ::before e ::after para gerar conteúdo em um elemento. Objetos inseridos usando a propriedade content são elementos substituídos anônimos. */
  position: absolute;
  /* é posicionado em relação ao elemento posicionado mais próximo (em vez de posicionado em relação à viewport, como fixo). */
  width: 100%;
  background: #000080;
  clip-path: inset(24% 0 0 0);
  z-index: -1;
  /* serve pra posicionar o conteudo na frente ou atras de outro conteudo */
  height: 100%;
}

/* div wrapper para centralizar e agrupar o conteúdo inteiro do site */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /*alinhamento vertical */
  justify-content: space-evenly; /*alinhamento horizontal */
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 960px;
  width: 100%;
  overflow: hidden;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5px;
}

/* textos */
.titulo {
  color: #ff8000;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
  grid-template-columns: 1fr;
  padding-top: 10px;
}

p {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  color: #000080;
  font-size: 20px;
  margin-top: 20px;
  width: 90%;
}

.bars {
  width: 40%;
  border: 2px solid #ff8000;
  margin-top: 10px;
}

/* editando o card */

.container .main-card {
  display: flex;
  justify-content: space-evenly;
  /* distribui o espaço entre os itens uniformemente. É semelhante ao space-around, mas fornece espaço igual em vez de metade do tamanho nas bordas*/
  width: 10%;
  transition: 1s;
  padding: 1px;
  margin-left: 0;
}

.container .main-card .cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* colocar pelo numero de elementos */
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.main-card .cards .card {
  width: auto;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
  margin-right: 15px;
  margin-bottom: 20px;
}

.main-card .cards .card:hover {
  transform: translateY(-15px);
}

.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* imagem card */
.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #000080;
  margin-bottom: 14px;
}

.card .content .img img {
  height: 125px;
  width: 125px;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}

/* nome card */
.card .content .name {
  font-size: 20px;
  font-weight: 700;
  color: #000080;
}

/* posicao card */
.card .content .job {
  font-size: 18px;
  color: #000000;
}

/* icones das redes */
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
  padding: 1px;
}

.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #000080;
}

/* rodape */

.footer {
  background-color: #000080;
  width: 100%;
}

.footertext {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}